<launch>
    
<param name="robot_description" command="$(find xacro)/xacro $(find my_robot_description)/urdf/my_robot.urdf.xacro" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    
<node name="rplidar_node" pkg="rplidar_ros" type="rplidarNode" output="screen">
        <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
        <param name="serial_baudrate" type="int" value="115200"/>
        <param name="frame_id" type="string" value="laser_frame"/>
        <param name="inverted" type="bool" value="false"/>
        <param name="angle_min" type="double" value="-3.1415926535"/> 
<param name="angle_max" type="double" value="3.1415926535"/>  
<param name="scan_mode" type="string" value="Standard"/>
        <param name="topic_name" type="string" value="scan"/>
    </node>

    
<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen">
        <remap from="scan" to="/scan" />
        <remap from="filtered_scan" to="/scan_filtered" />
        <rosparam command="load" file="$(find wall_follow)/config/laser_filter.yaml" />
    </node>

    
<node name="free_space_navigator" pkg="wall_follow" type="FreeSpaceNavigator.py" output="screen">
        
</node>

    
<node name="pwm_controller" pkg="wall_follow" type="pigpio_pwm_controller.py" output="screen">
        
</node>

    
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find wall_follow)/rviz/default.rviz" required="true" />

    
</launch>
